@import "vars.css";

body{
    background-color: #32cd9d;
}

.logo{
    color: white;
    margin: auto;
    height: 60px;
    text-align: center;
    font-family: Calibri ;
    font-size: 36px;
}

.logo{
    position: relative;
    top: 200px;
}

.loading{
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
    top: 200px;
}

.loading1, .loading2{
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}

.loading1{
    width: 70px;
    height: 70px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: clock 2s linear 3;
}

.loading2{
    width: 60px;
    height: 60px;
    border-right: 5px solid var(--theme-color);
    border-left: 5px solid var(--theme-color);
    top: 5px;
    left: 5px;
    animation: other-clock 2s linear 3;
}

/*the animations*/

@keyframes clock {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes other-clock {
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg);}
}